<div class="preference">
	<div>
		<% if(data.length > 0){ %> <%- include('partials/header', {title: 'Favorites'}) %> <% }
		else{ %> <% } %> <% if(data.length > 0){ %> <% for(let i = 0; i < data.length; i++){ %>

		<a class="albumCard" href="favorites<%= data[i]._id %>">
			<% if( typeof data[i].Image.data != 'undefined' ){ %>
			<div
				class="albumImage lazy-background fallback"
				style="background-image: url('/images/<%= data[i].Image.data %>')"
			></div>
			<% } else{ %>
			<div
				class="albumImage lazy-background fallback"
				style="background-image: url('<%= data[i].Image %>')"
			></div>
			<% } %>
			<div>
				<p><%= data[i].Title %></p>
				<p><%= data[i].Genre %> | <%= data[i].Year %></p>
			</div>

			<p><%= data[i].Artist %></p>
			<div class="heart">
				<form class="likeForm" action="favorites<%= data[i]._id %>" method="POST">
					<label for="<%= data[i]._id %>">
						<% if(data[i].Like === true > 0){ %>
						<i onclick="toggle(this)" class="fa fa-heart"></i>
						<% } else{ %>
						<i onclick="toggle(this)" class="fa fa-heart-o"></i>
						<% } %>
					</label>
					<input
						id="<%= data[i]._id %>"
						name="Like"
						type="submit"
						value="<%= data[i]._id %>"
					/>
				</form>
			</div>
		</a>

		<% } %>
	</div>
	<% } else{ %>
	<div class="noData">
		<p>You didn't have add an album to your favorites list yet</p>
		<a href="/">Search</a>
	</div>

	<% } %> <%- include('partials/navigation') %>
</div>
