<div>
	<div class="addForm">
		<form
			action="/update"
			key="profilePicture"
			method="POST"
			class="update"
			enctype="multipart/form-data"
		>
			<!-- change profilePic -->
			<fieldset>
				<legend><h3>Profile</h3></legend>
				<figure>
					<img src="/images/<%= data[0].Profilepic.data %>" alt="profilePic" />
				</figure>
				<div class="formText">
					<input id="profilePicture" type="File" name="profilePicture" />
				</div>
			</fieldset>
			<!-- change username -->
			<fieldset>
				<legend><h3>Change Username</h3></legend>
				<h4><%= data[0].Username %></h4>
				<div class="formText">
					<label for="newUsername"><h4>New Username:</h4></label>
					<input id="newUsername" type="text" name="newUsername" />
				</div>
			</fieldset>
			<!-- change email -->
			<fieldset>
				<legend><h3>Change Email</h3></legend>
				<h4><%= data[0].Email %></h4>
				<div class="formText">
					<label for="newEmail"><h4>New Email:</h4></label>
					<input id="newEmail" type="email" name="newEmail" />
				</div>
			</fieldset>
			<!-- change password -->
			<fieldset>
				<legend><h3>Change Password</h3></legend>
				<!-- <h4> Password: <%= data[0].Password %> </h4> -->
				<div class="formText">
					<label for="currentPassword"><h4>Current Password:</h4></label>
					<input id="currentPassword" type="password" name="currentPassword" />
					<label for="newPassword"><h4>New Password:</h4></label>
					<input id="newPassword" type="password" name="newPassword" />

					<% if (passError === true) { %>
					<p class="passError">Incorrect password or empty new password</p>
					<% } %>
				</div>
			</fieldset>
			<input type="submit" value="Save Changes" />
		</form>
		<% if (data[0].devUser === true) { %>
		<a href="/usersDev">
			<button>Users</button>
		</a>
		<% } else { } %>
	</div>
	<%- include('partials/navigation') %>
</div>
