
<div class="all">
	<% if(data.length > 0){ %>
        <%- include('partials/header', {title: 'Latest', image: userinfo[0].Profilepic.data, username: userinfo[0].Username}) %>
        <h3>My Albums</h3>
	
	<% } else{ %> <% } %> <% if(data.length > 0){ %> <% for(let i = 0; i < data.length; i++){ %>
	<a class="albumCard" id="albumcard" href="all<%= data[i]._id %>">
		<% if( typeof data[i].Image.data != 'undefined' ){ %>
		<div
			class="albumImage lazy-background fallback"
			style="background-image: url('/images/<%= data[i].Image.data %>')"
		></div>
		<% } else{ %>
		<div
			class="albumImage lazy-background fallback"
			style="background-image: url('<%= data[i].Image %>')"
		></div>
		<% } %>
		<div>
			<p><%= data[i].Title %></p>
			<p><%= data[i].Genre %> | <%= data[i].Year %></p>
		</div>
		<p><%= data[i].Artist %></p>
		<div class="heart">
			<form action="favorites<%= data[i]._id %>" method="POST">
				<label for="<%= data[i]._id %>">
					<% if(user.includes(data[i].Title) ){ %>
					<i onclick="toggle(this)" class="fa fa-heart"></i>
					<% } else{ %>
					<i onclick="toggle(this)" class="fa fa-heart-o"></i>
					<% } %>
				</label>
				<input
				class="likeButton"
					id="<%= data[i]._id %>"
					name="Like"
					type="submit"
					value="<%= data[i]._id %>"
				/>
			</form>
		</div>
		<a class="deleteBtn" href="/deleteModal<%= data[i]._id %>">
			<img class="delete" src="../images/delete.png" alt=""
		/></a>
	</a>
	<% } %> <% } else{ %>
        <%- include('partials/header', {title: 'Latest', image: userinfo[0].Profilepic.data, username: userinfo[0].Username}) %>
	<div class="noData">
		<p>There are no results that matches your search</p>
		<a href="/all">Go Back</a>
	</div>
	<% } %> <%- include('partials/navigation') %>